<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


 <!-- main section -->
 <main id="site-main">
    <div class="box-nav d-flex-justify-between">
      <div class="filter">
        <a href="/"
          ><i class="fas fa-angle-double-left" style="margin-left: 25px"></i>
          All Users</a
        >
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New User</h2>
      <span class="text-gradient"
        >Use the below form to create a new account</span
      >
    </div>

    
  </main>
  <!-- /main section -->


  <%- include('include/_form') %>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
